option_settings:
  "aws:elasticbeanstalk:application:environment":
    PYTHONPATH: "/opt/python/current/app/greenstreet:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "app.py"
    NumProcesses: 1
    NumThreads: 15
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"